.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  row-gap: 15px;
}

.logInOutButton {
  color: var(--hl-1);
  border: 1px solid var(--hl-1);
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 9px;
}
